<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <table>
        <% users.forEach(function(user){ %>
            <% if (user.name != "John" && user.age < 50) { %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.age %></td>
           </tr>
            <% } %>
        <% })%>
        </table>
    </main>
    <footer>
        <% include ../partials/header %>
    </footer>
</body>
</html>
